<table id="searchResult" class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Mobile
        </th>
        <th>
            Landline
        </th>
        <th>
            Website
        </th>
        <th>
            Address
        </th>
    </tr>

</table>